@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }
}

::selection {
  @apply bg-black text-white dark:bg-white dark:text-black;
}

body {
  @apply bg-white dark:bg-black;
}

.prose pre {
  @apply border border-zinc-700;
}

.hljs-comment {
  @apply text-zinc-500;
}
